{
    "extends": "airbnb",
    "rules": {
        "semi": ["warn", "never"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "max-len": "off",
        "react/prefer-stateless-function": "off",
        "function-paren-newline": "off",
        "react/jsx-indent": "off",
        "indent": "off",
        "jsx-a11y/anchor-is-valid": "off",
        "react/prop-types": "off" ,
        "quotes": ["error", "double"],
        "no-trailing-spaces": "off",
        "import/no-extraneous-dependencies": "off"
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
      }
}