{
    "extends": "airbnb",
    "rules": {
        "semi": ["warn", "never"],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "max-len": "off",
        "function-paren-newline": "off",
        "react/jsx-indent": "off",
        "indent": ["error", 4],
        "jsx-a11y/anchor-is-valid": "off",
        "quotes": ["error", "double"],
        "no-trailing-spaces": "off",
        "linebreak-style": "off",
        "no-underscore-dangle": "off",
        "class-methods-use-this": "off",
        "no-plusplus": "off",
        "react/jsx-boolean-value": ["error","always"]
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
      }
}